// Colors
$color01: green;
$color-red: red;
$color02: blue;
$color03: yellow;

// Breakpoints
$break-medium: 768px;
$break-small: 480px;



// Size
$size01: 20px;
$size02: 10px 5px 15px 25px;


// fonts
$font01: 'Lexend Tera', sans-serif;
